.todo {
  background-color: #00879d;
  margin: 0.5rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.todo:hover {
  background-color: #069ab1;
}
.todo p {
  color: #dbdbdb;
}
.btn {
  background-color: transparent;
  color: #b60a3b;
  cursor: pointer;
  border: none;
}
.btn:hover {
  color: #d6154c;
}
